@page
@model BarlangokD.Pages.Shared.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>barlang</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.barlang.nev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.barlang.nev)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.barlang.kiterjedes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.barlang.kiterjedes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.barlang.melyseg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.barlang.melyseg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.barlang.magassag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.barlang.magassag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.barlang.telepules)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.barlang.telepules)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="barlang.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
